<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Montag (04.03.2024)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Vor Beginn</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>9.00</td>
        <td>Willkommen und Kennenlernen
        <br>Was ist Library Carpentry? / Dinge automatisieren / Daten strukturieren 
        </td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10.30</td>
        <td>Pause</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>11.00</td>        <!-- time    -->
        <td><b>Introduction to Working with Data (Regular Expressions)</b>
          <br>Instructor: Andreas
          <br>Helpers: David, Eva, Louise
          <br>Wir arbeiten mit dem Browser und einem HedgeDoc. Kein spezielles Setup im Vorfeld notwendig.  </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Dienstag (05.03.2024)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Tidy Data</b>
        <br>Instructors: Alexander, Timo
        <br>Helpers: Louise</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Mittwoch (06.03.2024)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8.30</td>        <!-- time    -->
        <td>Helpdesk (Technik-Setup) <i>bei Bedarf</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Open Refine</b>
        <br>Instructors: Alexander, Eva
        <br>Helpers: Andreas, David
      </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Donnerstag (07.03.2024)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>SQL</b> <i>findet teilweise auf Englisch statt</i>
        <br>Instructors: Julika, Péter
        <br>Helpers: Jonas
        </td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- last day -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Freitag (08.03.2024)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9.00</td>        <!-- time    -->
        <td><b>Python</b>
        <br>Instructors: David, Jonas
        <br>Helpers: André, Andreas</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Nach dem Ende</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
